:root {
  --azul: #029ffe;
  --rosado: #e9304f;
}

/* Azul #029FFE
Rosado #E9304F */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(141, 141, 141);
}

/* Header css */

.logo {
  width: 7.5rem;
}

header {
  height: 7.5rem;
  background: linear-gradient(
    90deg,
    rgba(2, 159, 254, 1) 0%,
    rgba(233, 48, 79, 1) 100%
  );
  color: white;
}

/* aplicando flexbox para hacer el menu */
.header-content {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1500px;
}

/* flexbox a ul para afectar a los hijos directos */
.nav ul {
  display: flex;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: white;
  margin-left: 35px;
  font-size: 20px;
}

/* botón especial para dar */
.nav .button-dar {
  background-color: #029ffe;
  padding: 10px 35px;
}

/* aplicando efecto hover */
.nav .button-dar:hover {
  background: white;
  color: #029ffe;
  transition: opacity 0.5s ease-out;
}

/* hero */
.hero {
  height: 100vh;
  background-image: url("../images/fondo-hero.png");
  background-color: rgba(0, 0, 0, 0.657);
  background-blend-mode: soft-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero h1 {
  color: white;
  font-size: 80px;
  margin: 10px 0;
  position: relative;
}

.hero span {
  /*  border-bottom: 8px solid;
   border-bottom-color: rgb(233, 47, 78); */
}

.btn-fe {
  display: block;
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
  background: linear-gradient(to left, rgb(233, 47, 78), rgb(2, 159, 254));
  margin: 60px 10px;
  padding: 10px 25px;
}

.line::after {
  content: "";
  display: block;
  width: 62%;
  height: 1.2rem;
  position: absolute;
  right: 5%;
  background: linear-gradient(to left, rgb(2, 159, 254), rgb(233, 47, 78));
}

/* Plataformas */
.plataformas-container {
  display: flex;
  justify-content: center;
  background-color: black;
}

.wrap-1,
.wrap-2,
.wrap-3,
.wrap-4 {
  height: 30rem;
  width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.wrap-1 {
  background-image: url("/images/grupodecomunion.png");
  background-color: rgba(0, 0, 0, 0.87);
  background-blend-mode: soft-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-2 {
  background-image: url("/images/reformedyouth.png");
  background-color: rgba(0, 0, 0, 0.657);
  background-blend-mode: soft-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-3 {
  background-color: #97abd9;
}

.wrap-4 {
  background-color: #dca900;
}

.plataformas-container h2 {
  color: white;
  font-size: 3rem;
}

.plataformas p {
  font-size: 1rem;
  color: white;
  padding: 0.1rem 0rem;
  margin: 0.2rem 0;
}

.plataformas-container a {
  font-size: 1.2rem;
  padding: 0.8rem 1.2rem;
  display: inline-flex;
  margin-top: 0.5rem;
  text-decoration: none;
}

/* botones de grupo de comunion */
p.grupo-comunion-note {
  color: var(--azul);
}

.plataformas .grupo-comunion-button {
  text-decoration: none;
  color: white;
  background: var(--azul);
}

/* botones reformedyouth */

.reformedyouth-button {
  color: black;
  background-color: var(--rosado);
  text-decoration: none;
}

/* botones mujer de gracia */

.mujerdegracia h2 {
  font-family: "DM Serif Text", serif;
}

.mujerdegracia-button {
  color: white;
  background-color: #ffbbbb;
}

/* botones campusgu */
.campusgu h2 {
  color: black;
  font-family: "oswald";
}

.campusgu p {
  color: black;
}

.campusgu-button {
  color: #dca900;
  background-color: black;
}

/* footer */
.footer {
  width: 100vw;
  height: 23.5rem;
  background: black;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: auto;
}

.footer-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 50%;
  height: 15rem;
}

.footer-logo {
  max-width: 100%;
  flex: 0 0 50%;
  text-align: center;
}

.footer-description {
  flex: 0 0 50%;
}

.footer-nav-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
  height: 15rem;
}

.footer-nav {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
}

.footer-contact {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-nav-contact li {
  list-style: none;
}

.footer-nav-contact a {
  text-decoration: none;
  color: white;
}

.footer-item p,
.footer-nav-contact p {
  color: white;
}

.footer-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
